.Hero {

    display: grid;
    align-items: center;

    height: 100vh;
    position: relative;
    top: calc(0rem - var(--header-height)/2);
    width: 100%;

    background-image:  url("../../../assets//images/hero.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.Hero .innerHero{

    text-align: center;
    max-width: 600px;

}


.Hero h1{

    font-size: 60px;
    font-weight: normal;
    font-family: 'Noe-display';
    margin-top: calc(var(--header-height)/2);
}

.Hero h2{
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 18px;
}

.Actions{

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    z-index: 2;

}

.SocialIcons{

    justify-content: end;
}

.SocialIcons a{

    width: fit-content;
}

.SocialIcons a svg{

    width: 20px;
}

.scrollButton{
    width: fit-content;
    display: grid;
    gap: 2rem;
    background: none;
}


.Line{

    height: 80px;
    background: var(--primary-color);
    width: 2px;
    text-align: center;
    margin: auto;
}

.scrollText{

    -ms-transform: rotate(270deg); /* IE 9 */
  transform: rotate(270deg);
  font-weight: bold;
    letter-spacing: 1px;
}


@media all and (min-width: 768px) {
    .Hero h1{

        font-size: 120px;
        margin-top: 0px;

    }
    .Hero {

        top: calc(0rem - var(--header-height));
  
    }
}
