.AppOverlay{

    background: #000000b8;
    /* opacity: 0.11; */
    /* filter: blur(199px); */
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100vh;
    z-index: 6;
    display: none;
}

.open{

    display: block;
}